// 颜色变量
$dark-gray: #666;
$light-gray: #999;
$white-gray: #eee;
$black: #333;
$blue: #456eff;
$white: #fff;
$yellow: #ffc928;
$light-orange: #fdba6b;
$dark-orange: #e78b1f;
$red: #f01414;
$red-price: #e62020;
$red-info: #f05050;
$light-black: #000033;
$dark-black: #000; // 字号变量
$twenty-font: 20px;
$twelve-font: 12px;
$fourteen-font: 14px;
$sixteen-font: 16px;
$eighteen-font: 18px;
$thirty-font: 30px;
$twenty-six-font: 26px;
$twenty-two-font: 22px;
$thirty-two-font: 32px;
$border-style: 1px solid #eee; // 主区域宽度
$main-width: 1300px;
$content-width: 982px;
$dark-blue: #00356a;
$light-blue: #d0d9fb; // 主轴方向，交叉轴上对齐方式，主轴上对齐方式

* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

p {
  margin: 0;
  text-align: left;
}
@mixin flex-style($direction,$align,$justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify-content;
}
@mixin border-shadow {
  box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
}
@mixin usual-btn($bgcolor,$fontcolor) {
  @include flex-style(row,center,center);
  background-color: $bgcolor;
  color: $fontcolor;
  border: none;
  outline: none;
  cursor: pointer;
}
@mixin blue-shadow-btn($bgcolor,$fontcolor) {
  background-color: $bgcolor;
  box-shadow: 6px 6px 24px rgba(52,93,245,0.8);
  color: $fontcolor;
  cursor: pointer;
}

.usual-box {
  width: $main-width;
  margin: auto;
}

.to-more {
  font-size: $fourteen-font;
  color: $dark-gray;
  font-weight: bold;
  margin: 0 6px;
}

.content-wrapper {
  width: 982px;
  height: auto;
}

.pagigation-box {
  margin-top: 36px;
  @include flex-style(row,center,center);
}

.form-title {
  width: 100%;
  padding-top: 30px;
  font-size: $sixteen-font;
  color: $black;
  letter-spacing: 2px;
  line-height: 36px;
  border-bottom: $border-style;
  margin-bottom: 17px;
}